<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{$Think.config.DES}">
  <meta name="keywords" content="{$Think.config.KEYWORDS}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$Think.config.TITLE}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__PUBLIC__/Home/assets/i/favicon.ico">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__PUBLIC__/Home/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Home/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="__PUBLIC__/Home/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="__PUBLIC__/Home/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/assets/css/app.css">



</head>

<body id="blog">

<include file="Home@Common:header" />


<!-- banner start -->
<include file="Home@Common:banner" />
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

<foreach name="arts" key="k" item="v">
<if condition="$k eq 0">
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-sm-centered blog-entry-img">
                <img width="765px;" height="430px;" src="__PUBLIC__{$v['pic']}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text blog-text-center">
                <span><a href="__MODULE__/Study/index/cateid/{$v['cateid']}" class="blog-color">{$v['catename']} &nbsp;</a></span>
                <span> @{$v['author']}  &nbsp;</span>
                <span><?php echo date('Y/m/d',$v['subtime']);?></span>
                <h1><a href="__MODULE__/Article/index/cateid/{$v['cateid']}/artid/{$v['id']}">{$v['title']}</a></h1>
                <p>{$v['des']}
                </p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>

<else/>
<div id="content">   
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img width="365px;" height="205px;" src="__PUBLIC__{$v['pic']}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="__MODULE__/Study/index/cateid/{$v['cateid']}" class="blog-color">{$v['catename']}&nbsp;</a></span>
                <span>@{$v['author']} &nbsp;</span>
                <span><?php echo date('Y/m/d',$v['subtime']);?></span>
                <h1><a href="__MODULE__/Article/index/cateid/{$v['cateid']}/artid/{$v['id']}">{$v['title']}</a></h1>
                <p>{$v['des']}
                </p>
                <p><a href="" class="blog-continue">continue</a></p>
            </div>
        </article>
</div>
</if>
</foreach>



<ul class="am-pagination">
  <li style="margin-left:43%;"><a href="javascript:;" style="border-radius:5px;" id="imore">查看更多</a></li>


</ul>
    </div>


<include file="Home@Common:right" />

</div>
<!-- content end -->



<include file="Home@Common:footer" />



<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Home/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/Home/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/Home/assets/js/amazeui.min.js"></script>
<!-- <script src="__PUBLIC__/Home/assets/js/app.js"></script> -->

<script type="text/javascript">
function getLocalTime(ns){
        return new Date(parseInt(ns) * 1000).toLocaleString().substr(0,17)
}
        var page=1;
        function getlist(page){
                $.ajax({
                        type:"GET",
                        url:"__CONTROLLER__/getlist/p/"+page,
                        dataType:"json",
                        success:function(data){

                                if(data==null || data==''){
                                        $("#imore").html('<span style="color:red;">没有了!</span>');
                                        $("#imore").unbind("click");
                                 }

                                 var html="";
                                 $(data).each(function(k,v){
                                    // alert(v.title);
                                        html += '<article class="am-g blog-entry-article"><div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img"><img width="365px;" height="205px;" src="__PUBLIC__'+v.pic+'" alt="" class="am-u-sm-12"></div><div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text"><span><a href="__MODULE__/Study/index/cateid/'+v.cateid+' " class="blog-color">'+v.catename+'&nbsp;</a></span><span>@'+v.author+' &nbsp;</span><span><?php echo date('Y/m/d',$v['subtime']);?></span><h1><a href="__MODULE__/Article/index/artid/'+v.id+' ">'+v.title+'</a></h1><p>'+v.des+'</p><p><a href="" class="blog-continue">continue</a></p></div></article>';
                                 })
                                $("#content").append(html);
                        }
                });
        }


        $("#imore").click(function(){
                getlist(++page);
        })
</script>
</body>
</html>