<!DOCTYPE html>
<html>
<head>
	<title>如影随形 - 后台管理</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/page.css" />

    <!-- libraries -->
    <link href="__PUBLIC__/Admin/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/compiled/user-list.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <!-- <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' /> -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- navbar -->
<include file="Admin@Common:header" />
    <!-- end navbar -->

    <!-- sidebar -->
<include file="Admin@Common:left" />
    <!-- end sidebar -->
    

	<!-- main container -->
    <div class="content">
      
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>友情链接列表  </h3>
                    <div class="span10 pull-right">

                        <a href="{:U('add')}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            新增友情链接
                        </a>
                    </div>
                </div>

                <!-- Users table -->
                <div class="row-fluid table">

      <form action="{:U('link_sort')}" method="post">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span3 sortable">
                                    <span class="line"></span>友情链接排序
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>友情链接名称
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>友情链接url
                                </th>     

                                <th class="span3 sortable">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>

                        <tbody>
<foreach name="links" item="v">
                        <tr>
                           <td class="center">
                           <input type="text" name="{$v['id']}" value="{$v['sort']}" style="width: 30px;text-align: center;"> 
                              </td>
                              <td>
{$v['linkname']}
                            </td>
                             
                            <td >
{$v['linkurl']}
                             </td>
     
                       
                         <td >
                                    <a href="{:U('edit',array('id'=>$v['id']))}"><i class="table-edit"></i></a>&nbsp;&nbsp;
                                    <a href="{:U('del',array('id'=>$v['id']))}" onclick="return confirm('确定删除该友情链接吗?');"><i class="table-delete"></i></a>
                        </td>
                        </tr>

</foreach>
                            <tr><td>
                                         <input type="submit" value="排序" class="group_btn" style="line-height: 35px; border-radius: 5px;">
                            </td></tr>
                        </tbody>


                    </table>
                    </form>
                </div>
{$page}
                <!-- end users table -->
            </div>
        </div>
    </div>
    <!-- end main container -->


	<!-- scripts -->
    <script src="__PUBLIC__/Admin/js/jquery-latest.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/theme.js"></script>

</body>
</html>