<!DOCTYPE html>
<html>
<head>
	<title>如影随形 - 后台管理</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="__PUBLIC__/Admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/compiled/new-user.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <!-- <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' /> -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            .state1{
                color:#aaa;
            }
            .state2{
                color:#000;
            }
            .state3{
                color:red;
            }
            .state4{
                color:green;
            }
        </style>
</head>
<body>

    <!-- navbar -->
<include file="Admin@Common:header" />
    <!-- end navbar -->

    <!-- sidebar -->
<include file="Admin@Common:left" />
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header">
                    <h3>新增管理员</h3>
                    <div class="span10 pull-right">
                        <!-- <input type="text" class="span5 search" placeholder="Type a user's name..." /> -->
                        
                        <a href="{:U('lst')}" class="btn-flat success pull-right">
                            <span>&#43;</span>
                           返回管理员列表
                        </a>
                    </div>
                </div>


                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 with-sidebar">
                        <div class="container">
                            <form class="new_user_form inline-input" action="" method="post" enctype="multipart/form-data" />
                                <div class="span12 field-box">
                                    <label>UserName:</label>
                                    <input name="username" class="span9" type="text" /><span class='state1'>请输入用户名</span>
                                </div>
                                <div class="span12 field-box">
                                    <label>RealName:</label>
                                    <input name="realname" class="span9" type="text" /><span class='state1'>请输入真实姓名</span>
                                </div>
                                <div class="span12 field-box">
                                    <label>Email:</label>
                                    <input name="email" class="span9" type="text" /><span class='state1'>请输入邮箱</span>
                                </div>
                                <div class="span12 field-box">
                                    <label>Phone:</label>
                                    <input name="phone" class="span9" type="text" /><span class='state1'>请输入手机号</span>
                                </div>
                                <div class="span12 field-box">
                                    <label>Password:</label>
                                    <input name="password" class="span9" type="text" /><span class='state1'>请输入密码</span>
                                </div>
                                   <div class="span12 field-box">
                                    <label>Role:</label>
                                    <div class="ui-select span5">
                                        <select name="roleid">
                                        <foreach name="roles" item="v">
                                            <option value="{$v['id']}" />{$v['rolename']}
                                        </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="span12 field-box">
                                    <label>Head portrait:</label>
                                    <input name="head_pic" type="file" />
                                </div>
                                <div class="span11 field-box actions">
                                    <input class="submit" type="submit" class="btn-glow primary" value="Create user" />
                                </div>
                            </form>
                        </div>
                    </div>


	<!-- scripts -->
    <script src="__PUBLIC__/Admin/js/jquery-latest.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/theme.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>

    <script type="text/javascript">
        $(function () {

            // toggle form between inline and normal inputs
            var $buttons = $(".toggle-inputs button");
            var $form = $("form.new_user_form");

            $buttons.click(function () {
                var mode = $(this).data("input");
                $buttons.removeClass("active");
                $(this).addClass("active");

                if (mode === "inline") {
                    $form.addClass("inline-input");
                } else {
                    $form.removeClass("inline-input");
                }
            });
        });
    </script>

      <script>
            $(function(){
 
                var ok1=false;
                var ok2=false;
                var ok3=false;
                var ok4=false;
                var ok5=false;

                // 验证用户名
                $('input[name="username"]').focus(function(){
                    $(this).next().text('用户名应该为3-12位之间').removeClass('state1').addClass('state2');
                }).blur(function(){
                    if($(this).val().length >= 3 && $(this).val().length <=12 && $(this).val()!=''){
                        $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                        ok1=true;
                    }else{
                        $(this).next().text('用户名应该为3-12位之间').removeClass('state1').addClass('state3');
                    }
                     
                });


                // 验证真实姓名
                $('input[name="realname"]').focus(function(){
                    $(this).next().text('真实姓名应该为3-12位之间').removeClass('state1').addClass('state2');
                }).blur(function(){
                    if($(this).val().length >= 3 && $(this).val().length <=12 && $(this).val()!=''){
                        $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                        ok2=true;
                    }else{
                        $(this).next().text('真实姓名应该为3-12位之间').removeClass('state1').addClass('state3');
                    }
                     
                });

 
                //验证密码
                $('input[name="password"]').focus(function(){
                    $(this).next().text('密码应该为6-20位之间').removeClass('state1').addClass('state2');
                }).blur(function(){
                    if($(this).val().length >= 6 && $(this).val().length <=20 && $(this).val()!=''){
                        $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                        ok3=true;
                    }else{
                        $(this).next().text('密码应该为6-20位之间').removeClass('state1').addClass('state3');
                    }
                     
                });

 
                //验证确认密码
                //     $('input[name="repass"]').focus(function(){
                //     $(this).next().text('输入的确认密码要和上面的密码一致,规则也要相同').removeClass('state1').addClass('state2');
                // }).blur(function(){
                //     if($(this).val().length >= 6 && $(this).val().length <=20 && $(this).val()!='' && $(this).val() == $('input[name="password"]').val()){
                //         $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                //         ok3=true;
                //     }else{
                //         $(this).next().text('输入的确认密码要和上面的密码一致,规则也要相同').removeClass('state1').addClass('state3');
                //     }
                     
                // });
 
                //验证邮箱
                $('input[name="email"]').focus(function(){
                    $(this).next().text('请输入正确的EMAIL格式').removeClass('state1').addClass('state2');
                }).blur(function(){
                    if($(this).val().search(/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/)==-1){
                        $(this).next().text('请输入正确的EMAIL格式').removeClass('state1').addClass('state3');
                    }else{                  
                        $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                        ok4=true;
                    }
                     
                });


                //验证手机号
                $('input[name="phone"]').focus(function(){
                    $(this).next().text('请输入正确的手机号格式').removeClass('state1').addClass('state2');
                }).blur(function(){
                    if($(this).val().search(/^0{0,1}(13[4-9]|15[7-9]|15[0-2]|18[7-8])[0-9]{8}$/)==-1){
                        $(this).next().text('请输入正确的手机号格式').removeClass('state1').addClass('state3');
                    }else{                  
                        $(this).next().text('输入成功').removeClass('state1').addClass('state4');
                        ok5=true;
                    }
                     
                });

 
                //提交按钮,所有验证通过方可提交
 
                $('.submit').click(function(){
                    if(ok1 && ok2 && ok3 && ok4 && ok5){
                        $('form').submit();
                    }else{
                        return false;
                    }
                });
                 
            });
        </script>
</body>
</html>